@import url("https://fonts.googleapis.com/css2?&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* CSS Variables para cores*/
:root {
  --text-color: #2c3e50;
  --circle-color: #076305;
  --title-color: #172533;
  --link-color: #1c93f5;
  --background-color: #ffffff;
}

/* Dark mode support */
/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ecf0f1;
    --title-color: #bebebe;
    --background-color: #1a1a1a;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  width: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
}
header.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.circle {
  font-size: 52px;
  color: var(--circle-color);
}
main {
  width: 95%;
  max-width: 800px;
}

.container {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  border: 1px solid #7e7e7e;
  border-radius: 8px;
  gap: 16px;
}
.title {
  font-size: 32px;
  color: var(--title-color);
}
.date {
  font-size: 12px;
  margin-top: 16px;
  color: var(--link-color);
}
.image {
  width: 100%;
  border-radius: 5px;
}
.content {
  font-size: 16px;
}
.content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
}
.author {
  color: var(--title-color);
  font-size: 14px;
}
.link {
  color: var(--link-color);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.link:hover {
  opacity: 0.8;
  border: 1px solid var(--link-color);
  border-radius: 10px;
}
